<div class="layui-layer-message">
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td class="icon" style="background-position:{{data.icon}}px"></td>
            <td class="right">{{=data.right}}</td>
        </tr>
    </table>
    {{if data.bottom}}
        <div class="bottom">{{=data.bottom}}</div>
    {{/if}}
</div>