<ul class="sb-list">
    <li>
        <span>2222222</span>
        <div class="sb-item active">
            <ul>
                <li>1111</li>
                <li>2222</li>
                <li>3333</li>
            </ul>
        </div>
    </li>
</ul>