<div class="cw-droplist-box">
    <table cellspacing="0" cellpadding="0" border="0">

        <tr><td><i class="ellipsis" value="0">不限</i></td></tr>
        <tr><td><i class="ellipsis" value="1">aaa</i></td></tr>
        <tr><td><i class="ellipsis" value="2">bbb</i></td></tr>

    </table>
</div>